<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/dashboard/dashboard-layout}">
<head>
    <meta charset="UTF-8">
    <title>Create Member</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<!-- Begin Page Content -->
<div class="container-fluid" layout:fragment="content">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Form member</h1>
    </div>
    <form action="#" th:action="@{/dashboard/members/save}" th:object="${member}" method="POST"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{memberId}">
        <div class="row">
            <div class="col-6">
                <label for="fullName">Full Name <span class="text-danger">*</span></label>
                <input required id="fullName" type="text" th:field="*{fullName}" placeholder="Enter full name"
                       minlength="5" maxlength="20" class="form-control mb-4">
            </div>
            <div class="col-6 form-group">
                <label for="images">Feature Image <span class="text-danger">*</span></label>
                <input id="images" type="file" th:field="*{featureImage}" class="form-control mb-4 image-input">
                <div th:if="${member.memberId != null and member.featureImage != null}"
                     class="d-inline-block position-relative member-image-container">
                    <img th:src="@{'/' + ${member.featureImage.imageUrl}}" class="member-image-preview"
                         alt="Member Image Preview" style="height: 150px;">
                    <button class="btn position-absolute transparent-bg img-delete-button"
                            style="top: 2px; right: 2px; color: red; font-weight: bold"> x
                    </button>
                    <input type="hidden" class="delete-flag" name="deleteImage" id="deleteFeatureImage" value="false">
                </div>
                <div th:if="${member.featureImage == null}"
                     class="d-inline-block position-relative member-image-container">
                    <img class="member-image-preview">
                </div>
            </div>
            <div class="col-6">
                <label for="userName">Username <span class="text-danger">*</span></label>
                <input required id="userName" type="text" th:field="*{userName}" placeholder="Enter username"
                       class="form-control mb-4">
            </div>
            <div class="col-6">
                <label for="password">Password <span class="text-danger">*</span></label>
                <input required id="password" type="password" th:disabled="${member.memberId != null}"
                       th:field="*{password}" placeholder="Enter password" class="form-control mb-4">
            </div>
            <div class="col-6">
                <label for="nationalId">National ID <span class="text-danger">*</span></label>
                <input required id="nationalId" type="text" th:field="*{nationalId}" placeholder="Enter national id"
                       class="form-control mb-4">
            </div>
            <div class="col-6">
                <label for="email">Email <span class="text-danger">*</span></label>
                <input required id="email" type="email" th:field="*{email}" placeholder="Enter email"
                       class="form-control mb-4">
            </div>
            <div class="col-6">
                <label for="phoneNumber">Phone Number<span class="text-danger">*</span></label>
                <input required id="phoneNumber" type="tel" th:field="*{phoneNumber}" placeholder="Enter Phone Number"
                       class="form-control mb-4">
            </div>
            <div class="col-6">
                <label for="role">Type of account <span class="text-danger">*</span></label>
                <select id="role" th:field="*{role}" class="form-control mb-4" th:disabled="${member.memberId != null}"
                        required>
                    <option value="" checked="true">Choose type of account</option>
                    <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
                </select>
            </div>
            <div class="col-6">
                <label for="dateOfBirth">Date of birth <span class="text-danger">*</span></label>
                <input required id="dateOfBirth" type="date"
                       th:value="${#temporals.format(member.dateOfBirth, 'dd-MM-yyyy')}" th:field="*{dateOfBirth}"
                       class="form-control mb-4">
            </div>
            <div class="col-6">
                <label for="address">Address <span class="text-danger">*</span></label>
                <input required id="address" type="text" th:field="*{address}" placeholder="Enter address"
                       class="form-control mb-4">
            </div>
        </div>

        <button type="submit" class="btn btn-info col-3"> Save member</button>

    </form>

    <hr>

    <a th:href="@{/dashboard/members}">Back to Members List</a>
</div>
<!-- End Page Content -->
</body>
</html>