<!DOCTYPE html>
<html lang="en" layout:decorate="~{/frontend/fragment/front-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Booking [[${car.carModel}]]</title>
</head>

<body>

<div class="container-fluid" layout:fragment="content">
    <section>
        <div class="container px-4 px-lg-5 my-5">
            <form th:action="@{'/details/' + ${car.carId} + '/booking'}" method="post" id="bookingForm">

                <input type="hidden" name="basePrice" th:value="${car.basePrice}" required readonly>
                <input type="hidden" name="feePrice" value="0" required>
                <input type="hidden" name="subTotalPrice" value="" required>
                <input type="hidden" name="totalPrice" value="" required>

                <div class="row align-items-center my-4">

                    <div class="col-md-4">
                        <img class="card-img-top mb-5 mb-md-0 rounded" th:src="@{'/' + ${car.featureImage.getImageUrl()}}"
                             th:alt="${car.featureImage.imageAlt}"/>
                    </div>

                    <div class="col-md-8">
                        <div class="small mb-1 font-weight-bold badge bg-primary" th:text="${car.brand.brandName}"></div>
                        <h1 class="fw-bolder h3" th:text="${car.carModel}"></h1>

                        <div class="mb-5">
                            <span> <i> <strong>  $[[${car.basePrice}]] </strong> / day </i>  </span>
                            <br>
                            <span th:if="${car.deposit>0}" class="small"><i>Deposit with [[${car.deposit}]]</i></span>
                            <span th:if="${car.deposit == 0}" class="small"><i>No deposit required</i></span>
                        </div>

                        <div class="row my-3">
                            <div class="col-md-6 form-group my-3 fst-italic">
                                <label>Pickup time</label>
                                <input class="form-control" type="datetime-local" id="pickup_time" name="pickupTime"
                                       value="" required>
                            </div>

                            <div class="col-md-6 form-group my-3 fst-italic">
                                <label>Return time</label>
                                <input class="form-control" type="datetime-local" id="return_time" name="returnTime"
                                       value="" required>
                            </div>

                            <div class="pickup-time-error"></div>

                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 order-md-2 mb-4">
                        <h5 class="d-flex justify-content-between align-items-center mb-3">Total</h5>
                        <ul class="list-group mb-3">

                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0" th:text="${car.carModel}"></h6>
                                    <small class="text-muted">Unit: per day</small>
                                </div>
                                <span class="text-muted"> $[[${car.basePrice}]]</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">Delivery fee</h6>
                                    <small class="text-muted">Car delivery to your door</small>
                                </div>
                                <span class="text-muted" id="fee-price">0</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">Sub total</h6>
                                    <small class="text-muted">[[${car.basePrice}]] <span id="total-days"> --- </span>
                                    </small>
                                </div>
                                <span class="text-muted" id="sub-total-price">---</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total</span>
                                <span class="font-weight-bold" id="total-price">---</span>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-6 order-md-1">
                        <h5 class="mb-3">Billing address</h5>
                        <div class="needs-validation">

                            <div class="mb-3">
                                <label for="fullName">Full name</label>
                                <input type="text" class="form-control" id="fullName" name="fullName"
                                       th:value="${#authentication.principal.member.fullName}" required>
                            </div>

                            <div class="mb-3">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                       th:value="${#authentication.principal.member.phoneNumber}" required>
                            </div>

                            <div class="mb-3">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" name="address"
                                       th:value="${#authentication.principal.member.address}" required>
                            </div>

                            <small><i>Default with your information, you can replace</i></small>

                            <div class="billing-address-error"> </div>

                            <hr class="mb-4">

                            <div class="row">

                                <h5 class="mb-3">Pickup method</h5>

                                <div class="d-block my-3">
                                    <div class="custom-control custom-radio" th:each="pickupType : ${pickupTypes}">
                                        <input name="pickupType" th:id="${pickupType}"
                                               th:data-price="${pickupType.pickupPrice}"
                                               th:value="${pickupType}" type="radio"
                                               class="custom-control-input" required checked>
                                        <label class="custom-control-label" th:for="${pickupType}"
                                               th:text="${pickupType.pickupType}"></label>
                                        <small th:if="${pickupType.name() == 'PICKUP_AT_HOME'}"> <i>(Fee +$200) </i>
                                        </small>
                                    </div>

                                    <div class="pickup-method-error"> </div>
                                </div>

                            </div>

                            <hr class="mb-4">

                            <div class="row">

                                <h5 class="mb-3">Fee and price</h5>

                                <div class="d-block my-3">
                                    <div class="custom-control custom-radio"
                                         th:each="paymentMethod : ${paymentMethods}">
                                        <input name="paymentMethod" th:id="${paymentMethod}" th:value="${paymentMethod}"
                                               type="radio" class="custom-control-input" checked required>
                                        <label class="custom-control-label" th:for="${paymentMethod}"
                                               th:text="${paymentMethod.paymentMethod}"></label>
                                    </div>

                                    <div class="payment-method-error"> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary btn-lg btn-block" id="bookingBtn" type="submit">Continue to
                            checkout
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>

</body>
</html>