<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/frontend/fragment/front-layout}" >
<head>
    <meta charset="UTF-8">
    <title>My Wallet</title>
</head>
<body>
<!-- Begin Page Content -->
<div class="container px-4 px-lg-5 my-5" layout:fragment="content">
    <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>
    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>

    <h1 class="h4 mb-4">My Wallet</h1>

    <span class="fw-bold text-muted fst-italic">Your current balance</span>
    <h2 class="ms-3 text-success " th:text="${'$' + balance}"></h2>
    <!--    Search form -->
    <div class="d-flex justify-content-between my-3 align-items-end">
        <form class="my-2" method="GET" th:action="@{/wallet}" th:object="${filter}" >
            <div class="d-flex flex-wrap align-items-end">

                <div class="me-2 form-group my-2">
                    <label for="startDate">Start Date</label>
                    <input  th:field="*{startDate}" type="date" class="form-control mt-2" id="startDate" >
                </div>

                <div class="me-2 form-group my-2">
                    <label for="endDate">End Date</label>
                    <input th:field="*{endDate}" type="date" class="form-control mt-2" id="endDate" >
                </div>

                <div class="me-2 my-2">
                    <button class="btn btn-primary mt-2" type="submit"> Search </button>
                </div>
            </div>
        </form>


        <div class="my-4 ml-auto">
            <button class="btn btn-success dropdown-toggle" type="button" id="transactionMenu" data-bs-toggle="dropdown">
                Create Request
            </button>

            <ul class="dropdown-menu" aria-labelledby="transactionMenu">
                <li><button class="dropdown-item py-2" data-bs-toggle="modal" data-bs-target="#depositModal">Deposit</button></li>
                <li><button class="dropdown-item py-2" data-bs-toggle="modal" data-bs-target="#withDrawModal">Withdraw</button></li>
            </ul>

            <div class="modal fade" id="depositModal" tabindex="-1" aria-labelledby="depositModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="depositModalLabel">Deposit Request</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/wallet/request}" method="post">
                        <div class="modal-body">
                            <label >Amount</label>
                            <input min="1" type="number" class="form-control" name="amount" placeholder="Enter amount" required>
                            <input type="hidden" name="isDeposit" value="true">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="withDrawModal" tabindex="-1" aria-labelledby="withDrawModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="withDrawModalLabel">Withdraw Request</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/wallet/request}" method="post">
                            <div class="modal-body">
                                <label >Amount</label>
                                <input min="1" type="number" class="form-control" name="amount" placeholder="Enter amount" required>
                                <input type="hidden" name="isDeposit" value="false">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" >Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--    End Search Date-->
    <th:block th:if="${transactions.totalItems == 0}">
        <div class="alert alert-warning mt-3 text-center" role="alert">
            No transaction found
        </div>
    </th:block>
    <th:block th:if="${transactions.totalItems > 0}">
        <div class="request-wrapper">
            <div th:each="item: ${transactions.data}" class="py-2 px-3 shadow-sm my-3 rounded"
            style="background-color: rgb(247,247,247);">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-12 col-md-6">

                        <div class="my-2">
                                <span class="badge" th:classappend="${'bg-' + item.status.getStatusClass()}"
                                      th:text="${item.status.getStatus()}">Pending</span>
                            <span class="ml-2 fw-bold" th:text="${item.type.getValue()}"></span>
                        </div>

                        <div class="my-2">
                            <span class="fst-italic text-muted small" th:text="${item.note}"></span>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 text-end">
                        <p class="my-2 ml-2 fw-bold" th:classappend="${'text-' + item.type.mode.getTextClass()}" th:text="${item.type.mode.symbol + ' $' + item.amount}"></p>
                    </div>

                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <div class="my-2">
                            <span class="small" th:text="${'By ' + item.member.fullName}"></span>
                            <span class="small" th:text="${'at ' + #temporals.format(item.requestTime, 'dd-MM-yyyy HH:mm')}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:classappend="${transactions.hasPrevious()} ? '' : 'disabled'">
                    <a class="page-link" href="#" th:href="@{wallet(startDate =${filter.startDate}
                    ,endDate=${filter.endDate}, pageIndex=${filter.getPageIndex() - 1})}" >Previous</a>
                </li>
                <th:block th:each="i : ${#numbers.sequence(1,transactions.getTotalPages())}">
                    <li th:if="${i - 1 == filter.getPageIndex()}" class="page-item active">
                        <a class="page-link" href="#" th:text="${i}"></a>
                    </li>
                    <li th:unless="${i - 1 == filter.getPageIndex()}" class="page-item">
                        <a class="page-link" th:text="${i}" th:href="@{wallet(startDate =${filter.startDate}
                                                        ,endDate=${filter.endDate}, pageIndex=${i - 1})}"></a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${transactions.hasNext()} ? '' : 'disabled'">
                    <a class="page-link" th:href="@{wallet(startDate =${filter.startDate}
                    ,endDate=${filter.endDate}, pageIndex=${filter.getPageIndex() + 1})}">Next</a>
                </li>
            </ul>
        </nav>
    </th:block>


</div>
<!-- End Page Content -->
</body>
</html>